@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* body, html{
  height: 100%;
} */
body{
  overflow-y: hidden;
}
.App {
  min-height: 100vh;
  display: flex;
  /* background-image: radial-gradient( circle 732px at -23.9% -25.1%,  rgba(30,39,107,1) 6.1%, rgba(188,104,142,1) 100.2% ); */
  /* background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%); */
  /* background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); */
  background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  background-position: center;
  background-size: cover;
  
}

.personal-image {
  text-align: center;
  margin-top: 6%;
  margin-bottom: -2%;
  margin-left: 12%;
}
.personal-image input[type="file"] {
  display: none;
}
.personal-figure {
  position: relative;
  width: 120px;
  height: 120px;
}
.personal-avatar {
  cursor: pointer;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}
.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}
.personal-figcaption > img {
  margin-top: 26.5px;
  width: 20px;
  height: 20px;
  margin-left: 37%;
}

.loader-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: all ease-in-out .3s;
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}

.loader-figcaption > img{
  margin-top: 26.5px;
  width: 20px;
  height: 20px;
  margin-left: 37%;
}

